flows.json
[{"id":"afb0f186.cfb0d","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"ea946133.0085b","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"4aedf9e8.044e08","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"9143c7f2.16df18","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"75b62c93.dd5d84","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"2fad043e.317c8c","type":"tab","label":"Pending Deprecation","disabled":true,"info":""},{"id":"8b52884a.b76658","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"649859a4.a17818","type":"mqtt-broker","z":"","name":"rabbitmq","broker":"10.2.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1be7789.845ca87","type":"pushover-keys","z":"","name":""},{"id":"738ad7f2.c345c8","type":"api-call-service","z":"afb0f186.cfb0d","name":"Turn on Basement Fan","server":"8b52884a.b76658","service_domain":"climate","service":"set_fan_mode","data":"{\"entity_id\":\"climate.basement\",\"fan_mode\":\"on\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":80,"wires":[[]]},{"id":"dcb17b9f.340438","type":"bigtimer","z":"afb0f186.cfb0d","outtopic":"","outpayload1":"1","outpayload2":"","name":"Noon every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"720","endtime":"735","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":160,"y":80,"wires":[["ca516132.aac1d"],[],[]]},{"id":"6cb23d50.77ced4","type":"bigtimer","z":"4aedf9e8.044e08","outtopic":"","outpayload1":"1","outpayload2":"","name":"Midnight every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"0","endtime":"15","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":130,"y":100,"wires":[["cd1caa8c.300358"],[],[]]},{"id":"c77d382a.cb6bf8","type":"api-current-state","z":"4aedf9e8.044e08","name":"home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":510,"y":100,"wires":[["8d782ee4.3daf1"],[]]},{"id":"bafec0ae.30733","type":"inject","z":"4aedf9e8.044e08","name":"force-run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["cd1caa8c.300358"]]},{"id":"97f358c3.fa2c48","type":"api-call-service","z":"4aedf9e8.044e08","name":"arm alarm","server":"8b52884a.b76658","service_domain":"alarm_control_panel","service":"alarm_arm_night","data":"{\"entity_id\":\"alarm_control_panel.alarm_panel\",\"code\":\"2600\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":960,"y":100,"wires":[[]]},{"id":"24e58e6b.442df2","type":"bigtimer","z":"4aedf9e8.044e08","outtopic":"","outpayload1":"1","outpayload2":"","name":"5am every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"300","endtime":"315","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":140,"y":280,"wires":[["b15d162c.105c28"],[],[]]},{"id":"73c30e71.e8d46","type":"api-current-state","z":"4aedf9e8.044e08","name":"home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":510,"y":280,"wires":[["f36487b8.7e8c48"],[]]},{"id":"d6646d02.af28b","type":"inject","z":"4aedf9e8.044e08","name":"force-run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["b15d162c.105c28"]]},{"id":"3e70cbd7.48e594","type":"api-call-service","z":"4aedf9e8.044e08","name":"disarm alarm","server":"8b52884a.b76658","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.alarm_panel\",\"code\":\"2600\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":280,"wires":[[]]},{"id":"8d782ee4.3daf1","type":"api-current-state","z":"4aedf9e8.044e08","name":"alarm disarmed?","server":"8b52884a.b76658","halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","outputs":2,"x":750,"y":100,"wires":[["97f358c3.fa2c48"],[]]},{"id":"f36487b8.7e8c48","type":"api-current-state","z":"4aedf9e8.044e08","name":"alarm not disarmed?","server":"8b52884a.b76658","halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","outputs":2,"x":760,"y":280,"wires":[["3e70cbd7.48e594"],[]]},{"id":"2f902d29.65f162","type":"mqtt in","z":"ea946133.0085b","name":"Front Camera (frigate)","topic":"frigate/front/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":60,"wires":[["f981233a.919ee"]]},{"id":"dac685a2.2c81f8","type":"mqtt in","z":"ea946133.0085b","name":"Porch Camera (frigate)","topic":"frigate/porch/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":220,"wires":[["d9d5eb14.a24088"]]},{"id":"12525f60.1cb281","type":"mqtt in","z":"ea946133.0085b","name":"Driveway Camera (frigate)","topic":"frigate/driveway/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":150,"y":380,"wires":[["4a3232d5.83a38c"]]},{"id":"6b8b5f2f.4ae78","type":"mqtt in","z":"ea946133.0085b","name":"Pool Camera (frigate)","topic":"frigate/pool/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":580,"wires":[["7f697fd9.9e767"]]},{"id":"5d436f22.73ef","type":"mqtt in","z":"ea946133.0085b","name":"Basement Camera (frigate)","topic":"frigate/basement/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":150,"y":740,"wires":[["6c4e92b2.bf3b7c"]]},{"id":"f981233a.919ee","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":60,"wires":[["118c8baa.e4f2b4"]]},{"id":"d9d5eb14.a24088","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":220,"wires":[["f66a0af1.123158"]]},{"id":"4a3232d5.83a38c","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["2f55ba6.ba56a46"]]},{"id":"7f697fd9.9e767","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":580,"wires":[["becdac9d.28d67"]]},{"id":"6c4e92b2.bf3b7c","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":740,"wires":[["7365e499.488e4c"]]},{"id":"cdcecccd.15beb","type":"function","z":"ea946133.0085b","name":"trigger basement camera (BI)","func":"msg.payload = \"camera=basement&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":800,"wires":[["3f56c50a.db089a"]]},{"id":"3f56c50a.db089a","type":"mqtt out","z":"ea946133.0085b","name":"trigger blue iris","topic":"BlueIris/admin","qos":"","retain":"","broker":"649859a4.a17818","x":1200,"y":460,"wires":[]},{"id":"fecab8f7.aa5b18","type":"function","z":"ea946133.0085b","name":"trigger porch camera (BI)","func":"msg.payload = \"camera=porch&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":260,"wires":[["3f56c50a.db089a"]]},{"id":"feaab13e.d12ba","type":"function","z":"ea946133.0085b","name":"trigger front camera (BI)","func":"msg.payload = \"camera=front&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["3f56c50a.db089a"]]},{"id":"69e6676b.787a18","type":"function","z":"ea946133.0085b","name":"trigger driveway camera (BI)","func":"msg.payload = \"camera=driveway&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["3f56c50a.db089a"]]},{"id":"d3be975d.234b68","type":"function","z":"ea946133.0085b","name":"trigger pool camera (BI)","func":"msg.payload = \"camera=pool&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":620,"wires":[["3f56c50a.db089a"]]},{"id":"118c8baa.e4f2b4","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_front_notify","state_type":"str","outputs":2,"x":510,"y":60,"wires":[["feaab13e.d12ba","aa7a14fb.bcc2a8"],[]]},{"id":"f66a0af1.123158","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_porch_notify","state_type":"str","outputs":2,"x":510,"y":220,"wires":[["52638bf.b8eb974"],[]]},{"id":"2f55ba6.ba56a46","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_driveway_notify","state_type":"str","outputs":2,"x":510,"y":380,"wires":[["69e6676b.787a18","9abe3eba.7a1c7"],[]]},{"id":"becdac9d.28d67","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_pool_notify","state_type":"str","outputs":2,"x":510,"y":580,"wires":[["28c9cb8c.3c71c4"],[]]},{"id":"7365e499.488e4c","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_basement_notify","state_type":"str","outputs":2,"x":510,"y":740,"wires":[["cdcecccd.15beb","8cfc67b3.80d9d8"],[]]},{"id":"ca516132.aac1d","type":"api-current-state","z":"afb0f186.cfb0d","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_run_basement_fan","state_type":"str","outputs":2,"x":350,"y":80,"wires":[["738ad7f2.c345c8"],[]]},{"id":"cd1caa8c.300358","type":"api-current-state","z":"4aedf9e8.044e08","name":"run?","server":"8b52884a.b76658","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_arm_disarm_alarm_night","state_type":"str","outputs":2,"x":350,"y":100,"wires":[["c77d382a.cb6bf8"],[]]},{"id":"b15d162c.105c28","type":"api-current-state","z":"4aedf9e8.044e08","name":"run?","server":"8b52884a.b76658","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_arm_disarm_alarm_night","state_type":"str","outputs":2,"x":350,"y":280,"wires":[["73c30e71.e8d46"],[]]},{"id":"52638bf.b8eb974","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":690,"y":220,"wires":[["246aae0.b493f52","fecab8f7.aa5b18"],["be993a9b.fa2da8"]]},{"id":"28c9cb8c.3c71c4","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":690,"y":580,"wires":[["6c431925.fa56b8","d3be975d.234b68"],["1457ac16.ec37e4"]]},{"id":"8cfc67b3.80d9d8","type":"api-call-service","z":"ea946133.0085b","name":"tf basement camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_basement\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":740,"wires":[["2c3dac8f.e1d3d4"]]},{"id":"2c3dac8f.e1d3d4","type":"api-current-state","z":"ea946133.0085b","name":"tf basement camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_basement","state_type":"num","outputs":2,"x":1200,"y":740,"wires":[["c99d18d2.ef69e8"],[]]},{"id":"c99d18d2.ef69e8","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Basement Camera Motion Alert\",\"title\":\"basement_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/basement_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":740,"wires":[[]]},{"id":"6c431925.fa56b8","type":"api-call-service","z":"ea946133.0085b","name":"tf pool camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_pool\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":560,"wires":[["c2ba26e0.3af468"]]},{"id":"c2ba26e0.3af468","type":"api-current-state","z":"ea946133.0085b","name":"tf pool camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_pool","state_type":"num","outputs":2,"x":1180,"y":560,"wires":[["9b6a1a6b.8b7b98"],[]]},{"id":"9b6a1a6b.8b7b98","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Pool Camera Motion Alert\",\"title\":\"pool_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/pool_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":560,"wires":[[]]},{"id":"9abe3eba.7a1c7","type":"api-call-service","z":"ea946133.0085b","name":"tf driveway camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_driveway\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":380,"wires":[["d3b6aeca.7899d"]]},{"id":"d3b6aeca.7899d","type":"api-current-state","z":"ea946133.0085b","name":"tf driveway camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_driveway","state_type":"num","outputs":2,"x":1200,"y":380,"wires":[["55251439.061cdc"],[]]},{"id":"55251439.061cdc","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Driveway Camera Motion Alert\",\"title\":\"driveway_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/driveway_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":380,"wires":[[]]},{"id":"246aae0.b493f52","type":"api-call-service","z":"ea946133.0085b","name":"tf porch camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_porch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":200,"wires":[["624662b5.fbb90c"]]},{"id":"624662b5.fbb90c","type":"api-current-state","z":"ea946133.0085b","name":"tf porch camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_porch","state_type":"num","outputs":2,"x":1190,"y":200,"wires":[["449b3a49.f2e934"],[]]},{"id":"449b3a49.f2e934","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Porch Camera Motion Alert\",\"title\":\"porch_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/porch_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":200,"wires":[[]]},{"id":"aa7a14fb.bcc2a8","type":"api-call-service","z":"ea946133.0085b","name":"tf front camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_front\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":60,"wires":[["b550a272.e11ee"]]},{"id":"b550a272.e11ee","type":"api-current-state","z":"ea946133.0085b","name":"tf front camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_front","state_type":"num","outputs":2,"x":1180,"y":60,"wires":[["4e8cc8a3.fe5658"],[]]},{"id":"4e8cc8a3.fe5658","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Front Camera Motion Alert\",\"title\":\"front_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/front_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1410,"y":60,"wires":[[]]},{"id":"be993a9b.fa2da8","type":"time-range-switch","z":"ea946133.0085b","name":"10pm-6am","lat":"33.95092","lon":"-84.44805","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":690,"y":280,"wires":[["246aae0.b493f52","fecab8f7.aa5b18"],[]]},{"id":"1457ac16.ec37e4","type":"time-range-switch","z":"ea946133.0085b","name":"10pm-6am","lat":"33.95092","lon":"-84.44805","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":690,"y":640,"wires":[["6c431925.fa56b8","d3be975d.234b68"],[]]},{"id":"46cdb220.d99dbc","type":"mqtt out","z":"9143c7f2.16df18","name":"trigger arrival scan","topic":"monitor/scan/arrive","qos":"","retain":"","broker":"649859a4.a17818","x":730,"y":200,"wires":[]},{"id":"5b3f844.f2cf77c","type":"mqtt out","z":"9143c7f2.16df18","name":"trigger departure scan","topic":"monitor/scan/depart","qos":"","retain":"","broker":"649859a4.a17818","x":700,"y":400,"wires":[]},{"id":"53603f27.a87b3","type":"server-state-changed","z":"9143c7f2.16df18","name":"sliding door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.sliding_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":230,"y":40,"wires":[["fe1f1f4a.3f5bc","16f12e62.2031d2"],[]]},{"id":"8acbd984.50cab8","type":"server-state-changed","z":"9143c7f2.16df18","name":"sun-room door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.sun_room_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":220,"y":100,"wires":[["fe1f1f4a.3f5bc","16f12e62.2031d2"],[]]},{"id":"14f56181.1b2ffe","type":"server-state-changed","z":"9143c7f2.16df18","name":"front door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.front_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":240,"y":160,"wires":[["fe1f1f4a.3f5bc","16f12e62.2031d2"],[]]},{"id":"e2bb16da.b2bc68","type":"server-state-changed","z":"9143c7f2.16df18","name":"basement door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.basement_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":220,"y":220,"wires":[["fe1f1f4a.3f5bc","16f12e62.2031d2"],[]]},{"id":"a1b717c7.bed8e8","type":"server-state-changed","z":"9143c7f2.16df18","name":"garage door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":230,"y":280,"wires":[["fe1f1f4a.3f5bc","16f12e62.2031d2"],[]]},{"id":"f90f7ca2.37b73","type":"trigger-state","z":"9143c7f2.16df18","name":"jeff's garage open -> closed?","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lfo3f7bo72","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"4rtzy4dvtq3","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":500,"wires":[["16f12e62.2031d2"],[]]},{"id":"8a6ff95c.182148","type":"trigger-state","z":"9143c7f2.16df18","name":"jen's garage open -> closed?","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lq80ra8i42","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"er5106nygad","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":560,"wires":[["16f12e62.2031d2"],[]]},{"id":"fe1f1f4a.3f5bc","type":"api-current-state","z":"9143c7f2.16df18","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":490,"y":200,"wires":[["46cdb220.d99dbc"],[]]},{"id":"16f12e62.2031d2","type":"api-current-state","z":"9143c7f2.16df18","name":"home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":470,"y":400,"wires":[["5b3f844.f2cf77c"],[]]},{"id":"bcaf94f7.b740a8","type":"function","z":"75b62c93.dd5d84","name":"open > 30 mins?","func":"var minsToCheck = 30;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jen_garage_door.openTimeinMS') || 0;\n\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"open\") {\n   return [ msg ];\n}","outputs":1,"noerr":0,"x":650,"y":100,"wires":[["42241e34.df824","f07a0386.bb4c"]]},{"id":"e49b75d5.44f058","type":"api-call-service","z":"75b62c93.dd5d84","name":"close jen's garage door","server":"8b52884a.b76658","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.jen_garage_door\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1210,"y":60,"wires":[[]]},{"id":"42241e34.df824","type":"api-current-state","z":"75b62c93.dd5d84","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_close_garage_door_jen","state_type":"str","outputs":2,"x":930,"y":60,"wires":[["e49b75d5.44f058"],[]]},{"id":"77518b15.1609d4","type":"function","z":"75b62c93.dd5d84","name":"open > 30 mins?","func":"var minsToCheck = 30;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jeff_garage_door.openTimeinMS') || 0;\n\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"open\") {\n   return [ msg ];\n}","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["d041a959.0f6a08","ea9c7872.2c6338"]]},{"id":"b7fc987.2f41468","type":"api-call-service","z":"75b62c93.dd5d84","name":"close jeff's garage door","server":"8b52884a.b76658","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.jeff_garage_door\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1210,"y":180,"wires":[[]]},{"id":"d041a959.0f6a08","type":"api-current-state","z":"75b62c93.dd5d84","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_close_garage_door_jeff","state_type":"str","outputs":2,"x":930,"y":180,"wires":[["b7fc987.2f41468"],[]]},{"id":"e36e5070.bd4bb","type":"function","z":"75b62c93.dd5d84","name":"format iOS message for Jen's garage","func":"\nvar category = \"garage2\";\nvar name = \"Jen's\";\nvar title = msg.data.event.new_state.attributes.friendly_name;\nvar openTimeinMS = global.get('cover.jen_garage_door.openTimeinMS') || 0;\nvar message_time = name + \" garage door has remained open for about \" + millisecondsToStr(openTimeinMS)\nvar message_hint = \" \\n(tap & hold this message to close the garage door now)\";\nvar quotes = [\n    'is someone about to enter the house?',\n    'what have they taken from the garage already?',\n    'easy way for rodents to get into our stuff!',\n    'is anything missing?',\n    'Once inside the garage a burglar can work uninterrupted at getting into the house',\n    'over 50% of all burglaries are through the garage',\n    'An open door is an open invitation to crime!',\n    'Leaving your garage door open is like a welcome sign for a thief!'\n];\nvar randomQuote = Math.floor(Math.random() * (quotes.length));\nvar message = message_time + \" \\n\" + quotes[randomQuote];\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category\n            }\n        }\n    }\n}\nreturn [ msg ];\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}\n","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["f4804615.b59cb8"]]},{"id":"f07a0386.bb4c","type":"delay","z":"75b62c93.dd5d84","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"40","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":120,"wires":[["e36e5070.bd4bb"]]},{"id":"e2f343b.68adbc","type":"api-call-service","z":"75b62c93.dd5d84","name":"notify jeff iOS","server":"8b52884a.b76658","service_domain":"notify","service":"ios_jeff_phone","data":"{\"data\":{\"push\":{\"badge\":1,\"sound\":\"US-EN-Morgan-Freeman-Garage-Door-Opened.wav\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1640,"y":160,"wires":[[]]},{"id":"f4804615.b59cb8","type":"json","z":"75b62c93.dd5d84","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":200,"wires":[["e2f343b.68adbc","eb2d3623.194588"]]},{"id":"eb2d3623.194588","type":"api-call-service","z":"75b62c93.dd5d84","name":"notify jen iOS","server":"8b52884a.b76658","service_domain":"notify","service":"ios_jen_phone","data":"{\"data\":{\"push\":{\"badge\":1,\"sound\":\"US-EN-Morgan-Freeman-Garage-Door-Opened.wav\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1640,"y":220,"wires":[[]]},{"id":"38ba584e.f594c8","type":"function","z":"75b62c93.dd5d84","name":"format iOS message for Jeff's garage","func":"var category = \"garage\"\nvar name = \"Jeff's\"\nvar title = msg.data.event.new_state.attributes.friendly_name;\nvar openTimeinMS = global.get('cover.jeff_garage_door.openTimeinMS') || 0;\nvar message = name + \" garage door has remained open for about \" + millisecondsToStr(openTimeinMS)\n\n\nmsg.payload = {\n    \"data\": {\n        message,\n        title,\n        data: {\n            push: {\n                category: category\n            }\n        }\n    }\n}\nreturn [ msg ];\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["f4804615.b59cb8"]]},{"id":"ea9c7872.2c6338","type":"delay","z":"75b62c93.dd5d84","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"40","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":240,"wires":[["38ba584e.f594c8"]]},{"id":"13b9fc10.978464","type":"trigger-state","z":"75b62c93.dd5d84","name":"jen's door open?","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"03b4hq1eehkp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"9b1umrt4zg4","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":100,"wires":[["1de8331e.f1f62d"],[]]},{"id":"1de8331e.f1f62d","type":"function","z":"75b62c93.dd5d84","name":"add current open time","func":"var currentSavedTime = global.get('cover.jen_garage_door.openTimeinMS') || 0;\nglobal.set('cover.jen_garage_door.openTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["bcaf94f7.b740a8"]]},{"id":"e5f5f1d7.627de","type":"trigger-state","z":"75b62c93.dd5d84","name":"jeff's door open?","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"03b4hq1eehkp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"tle0bbbbad","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":220,"wires":[["286669a1.cf4846"],[]]},{"id":"286669a1.cf4846","type":"function","z":"75b62c93.dd5d84","name":"add current open time","func":"var currentSavedTime = global.get('cover.jeff_garage_door.openTimeinMS') || 0;\nglobal.set('cover.jeff_garage_door.openTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["77518b15.1609d4"]]},{"id":"dd23f021.82f93","type":"trigger-state","z":"75b62c93.dd5d84","name":"jen's door closed -> open","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":320,"wires":[["1d0981d1.7bbbfe"],[]]},{"id":"1d0981d1.7bbbfe","type":"function","z":"75b62c93.dd5d84","name":"reset jens door timer","func":"global.set('cover.jen_garage_door.openTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":320,"wires":[[]]},{"id":"72743565.49d4cc","type":"trigger-state","z":"75b62c93.dd5d84","name":"jeff's door closed -> open","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":380,"wires":[["5cd70667.f833d8"],[]]},{"id":"5cd70667.f833d8","type":"function","z":"75b62c93.dd5d84","name":"reset jeff door timer","func":"global.set('cover.jeff_garage_door.openTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[[]]},{"id":"22b1ecd.8f12514","type":"inject","z":"75b62c93.dd5d84","name":"reset timers","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":500,"wires":[["1d0981d1.7bbbfe","5cd70667.f833d8"]]},{"id":"f9971550.66b808","type":"poll-state","z":"2fad043e.317c8c","name":"","server":"8b52884a.b76658","updateinterval":"10","outputinitially":true,"outputonchanged":true,"entity_id":"cover.jen_garage_door","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":210,"y":100,"wires":[[]]},{"id":"717193c9.50b80c","type":"poll-state","z":"2fad043e.317c8c","name":"","server":"8b52884a.b76658","updateinterval":"10","outputinitially":true,"outputonchanged":true,"entity_id":"cover.jeff_garage_door","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":210,"y":160,"wires":[[]]},{"id":"9e95fe2d.47e3b","type":"trigger-state","z":"2fad043e.317c8c","name":"jen's garage door open -> closed","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5vfaipig414","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"27umjiospq7","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":280,"wires":[[],[]]},{"id":"209e019f.d3994e","type":"function","z":"2fad043e.317c8c","name":"garage door closed for > 5 mins?","func":"var minsToCheck = 5;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jen_garage_door.closedTimeinMS') || 0;\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"closed\") {\n   msg.payload = millisecondsToStr(openTimeinMS)\n   return [ msg ];\n}\n\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["761ad3eb.80eb6c"]]},{"id":"bea4a801.9f6cc8","type":"function","z":"2fad043e.317c8c","name":"reset jens garage door closed timer","func":"global.set('cover.jen_garage_door.closedTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["6e7d8be1.205d04"]]},{"id":"6e7d8be1.205d04","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":280,"wires":[]},{"id":"814a7aa3.a517e8","type":"trigger-state","z":"2fad043e.317c8c","name":"jen's garage door closed?","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5vfaipig414","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"jqxehrylwml","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":340,"wires":[[],[]]},{"id":"22b6bdb.37aed42","type":"function","z":"2fad043e.317c8c","name":"capture & add current closed time","func":"var currentSavedTime = global.get('cover.jen_garage_door.closedTimeinMS') || 0;\nglobal.set('cover.jen_garage_door.closedTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["209e019f.d3994e"]]},{"id":"761ad3eb.80eb6c","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":340,"wires":[]},{"id":"e1917b2b.6060b8","type":"trigger-state","z":"2fad043e.317c8c","name":"jen's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":420,"wires":[[],[]]},{"id":"21c9b96d.62eae6","type":"function","z":"2fad043e.317c8c","name":"garage door open for > 10 mins?","func":"var minsToCheck = 10;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jen_garage_door.openTimeinMS') || 0;\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"open\") {\n   msg.payload = millisecondsToStr(openTimeinMS)\n   return [ msg ];\n}\n\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}","outputs":1,"noerr":0,"x":900,"y":480,"wires":[["969ccaba.6e0c78"]]},{"id":"bc976ef9.e301c","type":"function","z":"2fad043e.317c8c","name":"reset jens garage door open timer","func":"global.set('cover.jen_garage_door.openTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["335ee75c.cd9da8"]]},{"id":"335ee75c.cd9da8","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":420,"wires":[]},{"id":"a4f31f.d9d5ace","type":"trigger-state","z":"2fad043e.317c8c","name":"jen's garage door open?","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"03b4hq1eehkp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"9b1umrt4zg4","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":480,"wires":[[],[]]},{"id":"ae423f3b.c222c","type":"function","z":"2fad043e.317c8c","name":"capture & add current open time","func":"var currentSavedTime = global.get('cover.jen_garage_door.openTimeinMS') || 0;\nglobal.set('cover.jen_garage_door.openTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["21c9b96d.62eae6"]]},{"id":"969ccaba.6e0c78","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":480,"wires":[]},{"id":"2e7d95d4.cab80a","type":"trigger-state","z":"2fad043e.317c8c","name":"jeff's garage door open -> closed","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5vfaipig414","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"27umjiospq7","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":580,"wires":[[],[]]},{"id":"bbd7b67.ad33648","type":"function","z":"2fad043e.317c8c","name":"garage door closed for > 10 mins?","func":"var minsToCheck = 10;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jeff_garage_door.closedTimeinMS') || 0;\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"closed\") {\n   msg.payload = millisecondsToStr(openTimeinMS)\n   return [ msg ];\n}\n\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["f3cb12aa.eb18c"]]},{"id":"11ba2469.e3f64c","type":"function","z":"2fad043e.317c8c","name":"reset jeffs garage door closed timer","func":"global.set('cover.jeff_garage_door.closedTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["4cabb4ae.0d218c"]]},{"id":"4cabb4ae.0d218c","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":580,"wires":[]},{"id":"be2421c6.ad1b1","type":"trigger-state","z":"2fad043e.317c8c","name":"jeff's garage door closed?","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5vfaipig414","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"ozukcporgrf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":640,"wires":[[],[]]},{"id":"188011d5.077b8e","type":"function","z":"2fad043e.317c8c","name":"capture & add current closed time","func":"var currentSavedTime = global.get('cover.jeff_garage_door.closedTimeinMS') || 0;\nglobal.set('cover.jeff_garage_door.closedTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["bbd7b67.ad33648"]]},{"id":"f3cb12aa.eb18c","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":640,"wires":[]},{"id":"5ec3e16b.b26b3","type":"trigger-state","z":"2fad043e.317c8c","name":"jeff's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":720,"wires":[[],[]]},{"id":"670deb94.a38f94","type":"function","z":"2fad043e.317c8c","name":"garage door open for > 10 mins?","func":"var minsToCheck = 10;\nvar minutesInMs = 60000;\nvar openTimeinMS = global.get('cover.jeff_garage_door.openTimeinMS') || 0;\nif (openTimeinMS >= (minutesInMs*minsToCheck) && msg.payload === \"open\") {\n   msg.payload = millisecondsToStr(openTimeinMS)\n   return [ msg ];\n}\n\n\nfunction millisecondsToStr (milliseconds) {\n    // TIP: to find current time in milliseconds, use:\n    // var  current_time_milliseconds = new Date().getTime();\n\n    function numberEnding (number) {\n        return (number > 1) ? 's' : '';\n    }\n\n    var temp = Math.floor(milliseconds / 1000);\n    var years = Math.floor(temp / 31536000);\n    if (years) {\n        return years + ' year' + numberEnding(years);\n    }\n    //TODO: Months! Maybe weeks? \n    var days = Math.floor((temp %= 31536000) / 86400);\n    if (days) {\n        return days + ' day' + numberEnding(days);\n    }\n    var hours = Math.floor((temp %= 86400) / 3600);\n    if (hours) {\n        return hours + ' hour' + numberEnding(hours);\n    }\n    var minutes = Math.floor((temp %= 3600) / 60);\n    if (minutes) {\n        return minutes + ' minute' + numberEnding(minutes);\n    }\n    var seconds = temp % 60;\n    if (seconds) {\n        return seconds + ' second' + numberEnding(seconds);\n    }\n    return 'less than a second'; //'just now' //or other string you like;\n}","outputs":1,"noerr":0,"x":900,"y":780,"wires":[["33b0d59a.f3ff0a"]]},{"id":"1f41324d.ff075e","type":"function","z":"2fad043e.317c8c","name":"reset jeff garage door open timer","func":"global.set('cover.jeff_garage_door.openTimeinMS',0);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["f37fd716.72e5f8"]]},{"id":"f37fd716.72e5f8","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":720,"wires":[]},{"id":"6deda104.38775","type":"trigger-state","z":"2fad043e.317c8c","name":"jeff's garage door open?","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"03b4hq1eehkp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"tle0bbbbad","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":780,"wires":[[],[]]},{"id":"934edc1c.267bd","type":"function","z":"2fad043e.317c8c","name":"capture & add current open time","func":"var currentSavedTime = global.get('cover.jeff_garage_door.openTimeinMS') || 0;\nglobal.set('cover.jeff_garage_door.openTimeinMS', Math.abs(msg.data.event.new_state.timeSinceChangedMs - currentSavedTime) + currentSavedTime);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[["670deb94.a38f94"]]},{"id":"33b0d59a.f3ff0a","type":"debug","z":"2fad043e.317c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":780,"wires":[]},{"id":"1e1c0d7e.a68d03","type":"inject","z":"2fad043e.317c8c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":540,"wires":[["bc976ef9.e301c","bea4a801.9f6cc8","11ba2469.e3f64c","1f41324d.ff075e"]]},{"id":"9c97bcf0.cc525","type":"pushover api","z":"2fad043e.317c8c","keys":"1be7789.845ca87","title":"","name":"","x":340,"y":1340,"wires":[]},{"id":"9d177358.52fa5","type":"function","z":"2fad043e.317c8c","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Porch\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/porch/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":1080,"wires":[[]]},{"id":"773c4cee.01cb04","type":"function","z":"2fad043e.317c8c","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Driveway\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/driveway/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":1140,"wires":[[]]},{"id":"84d264de.6d8a68","type":"function","z":"2fad043e.317c8c","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Front\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/front/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":1020,"wires":[[]]},{"id":"7ef5891a.b8bc68","type":"function","z":"2fad043e.317c8c","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Pool\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/pool/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":1200,"wires":[[]]},{"id":"31992598.4bd18a","type":"function","z":"2fad043e.317c8c","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Basement\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/basement/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":1260,"wires":[[]]},{"id":"b0b84fff.f8d14","type":"api-current-state","z":"2fad043e.317c8c","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":150,"y":1340,"wires":[[],[]]},{"id":"5319a7a5.1e0138","type":"mqtt in","z":"2fad043e.317c8c","name":"Basement Camera (BI)","topic":"BlueIris/alert/basement","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":180,"y":1260,"wires":[["70260327.9f0f6c"]]},{"id":"70260327.9f0f6c","type":"switch","z":"2fad043e.317c8c","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1260,"wires":[[]]},{"id":"60dde288.63d11c","type":"function","z":"2fad043e.317c8c","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Basement\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/basement_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1260,"wires":[[]]},{"id":"e4d9e9e8.5f2668","type":"mqtt in","z":"2fad043e.317c8c","name":"Pool Camera (BI)","topic":"BlueIris/alert/pool","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":160,"y":1200,"wires":[["f79436e7.296b28"]]},{"id":"f79436e7.296b28","type":"switch","z":"2fad043e.317c8c","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1200,"wires":[[]]},{"id":"7522cacd.6915e4","type":"function","z":"2fad043e.317c8c","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Pool\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/pool_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1200,"wires":[[]]},{"id":"d0145ca5.75af3","type":"mqtt in","z":"2fad043e.317c8c","name":"Driveway Camera (BI)","topic":"BlueIris/alert/driveway","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":180,"y":1140,"wires":[["1b81c37e.528dad"]]},{"id":"1b81c37e.528dad","type":"switch","z":"2fad043e.317c8c","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1140,"wires":[[]]},{"id":"49116105.c024c","type":"function","z":"2fad043e.317c8c","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Driveway\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/driveway_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1140,"wires":[[]]},{"id":"ca7bf332.0c743","type":"mqtt in","z":"2fad043e.317c8c","name":"Porch Camera (BI)","topic":"BlueIris/alert/porch","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":170,"y":1080,"wires":[["8db8621e.17aaf"]]},{"id":"8db8621e.17aaf","type":"switch","z":"2fad043e.317c8c","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1080,"wires":[[]]},{"id":"177acca2.5b81c3","type":"function","z":"2fad043e.317c8c","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Porch\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/porch_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1080,"wires":[[]]},{"id":"436c43b4.19d48c","type":"mqtt in","z":"2fad043e.317c8c","name":"Front Camera (BI)","topic":"BlueIris/alert/front","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":160,"y":1020,"wires":[["cd7cb133.06abc"]]},{"id":"cd7cb133.06abc","type":"switch","z":"2fad043e.317c8c","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1020,"wires":[[]]},{"id":"39c37970.6dd626","type":"function","z":"2fad043e.317c8c","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Front\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/front_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1020,"wires":[[]]},{"id":"884946fa.65a098","type":"comment","z":"2fad043e.317c8c","name":"Old stuff","info":"","x":140,"y":960,"wires":[]},{"id":"1bf8db6a.31e655","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":690,"y":460,"wires":[["69e6676b.787a18"],[]]},{"id":"857f47d0.3b4578","type":"server-state-changed","z":"2fad043e.317c8c","name":"Jen's Garage Door Opening","server":"8b52884a.b76658","entityidfilter":"sensor.garage2_status","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Opening","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":540,"y":60,"wires":[[],[]]},{"id":"5c0b449c.02fbac","type":"server-state-changed","z":"2fad043e.317c8c","name":"Jeff's Garage Door Opening","server":"8b52884a.b76658","entityidfilter":"sensor.garage_status","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Opening","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":540,"y":120,"wires":[[],[]]},{"id":"d6999820.055628","type":"server-state-changed","z":"2fad043e.317c8c","name":"Jen's Garage Door Closing","server":"8b52884a.b76658","entityidfilter":"sensor.garage2_status","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Closing","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":530,"y":180,"wires":[[],[]]},{"id":"b4e5e07d.3a0d2","type":"server-state-changed","z":"2fad043e.317c8c","name":"Jen's Garage Door Closing","server":"8b52884a.b76658","entityidfilter":"sensor.garage2_status","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"Closing","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":530,"y":240,"wires":[[],[]]},{"id":"e1511789.e17248","type":"trigger-state","z":"75b62c93.dd5d84","name":"jen's door open -> closed","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"g9u7cbbteu8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"iydwvunsg8","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":440,"wires":[["1d0981d1.7bbbfe"],[]]},{"id":"d5a2579a.f7cbf8","type":"trigger-state","z":"75b62c93.dd5d84","name":"jeff's door open -> closed","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"19z302q4msn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"1kylpoo28e7","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":500,"wires":[["5cd70667.f833d8"],[]]},{"id":"4e815596.ec37ec","type":"trigger-state","z":"ea946133.0085b","name":"jeff's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":440,"wires":[["1bf8db6a.31e655"],[]]},{"id":"cc1433a6.97b9f","type":"trigger-state","z":"ea946133.0085b","name":"jen's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":500,"wires":[["1bf8db6a.31e655"],[]]},{"id":"b8c2bbff.e4a2a8","type":"trigger-state","z":"9143c7f2.16df18","name":"jeff's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jeff_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":340,"wires":[["fe1f1f4a.3f5bc"],[]]},{"id":"617401c5.ebf61","type":"trigger-state","z":"9143c7f2.16df18","name":"jen's garage door closed -> open","server":"8b52884a.b76658","entityid":"cover.jen_garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7ssscforb0o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"ca2smqkbbur","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":400,"wires":[["fe1f1f4a.3f5bc"],[]]},{"id":"40113f5b.a57a5","type":"server-state-changed","z":"ea946133.0085b","name":"basement door open?","server":"8b52884a.b76658","entityidfilter":"binary_sensor.basement_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":140,"y":820,"wires":[["cdcecccd.15beb"],[]]}]