flows.json
[{"id":"afb0f186.cfb0d","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"ea946133.0085b","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"4aedf9e8.044e08","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"bdb29ba8.1840f8","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"9143c7f2.16df18","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"8b52884a.b76658","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"649859a4.a17818","type":"mqtt-broker","z":"","name":"rabbitmq","broker":"10.2.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1be7789.845ca87","type":"pushover-keys","z":"","name":""},{"id":"738ad7f2.c345c8","type":"api-call-service","z":"afb0f186.cfb0d","name":"Turn on Basement Fan","server":"8b52884a.b76658","service_domain":"climate","service":"set_fan_mode","data":"{\"entity_id\":\"climate.basement\",\"fan_mode\":\"on\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":599,"y":86.5,"wires":[["60b3ff31.7705f"]]},{"id":"60b3ff31.7705f","type":"debug","z":"afb0f186.cfb0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":865,"y":86.5,"wires":[]},{"id":"dcb17b9f.340438","type":"bigtimer","z":"afb0f186.cfb0d","outtopic":"","outpayload1":"1","outpayload2":"","name":"Noon every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"720","endtime":"735","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":163,"y":94,"wires":[["ca516132.aac1d"],[],[]]},{"id":"6cb23d50.77ced4","type":"bigtimer","z":"4aedf9e8.044e08","outtopic":"","outpayload1":"1","outpayload2":"","name":"Midnight every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"0","endtime":"15","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":139,"y":88.5,"wires":[["cd1caa8c.300358"],[],[]]},{"id":"c77d382a.cb6bf8","type":"api-current-state","z":"4aedf9e8.044e08","name":"home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":503,"y":82,"wires":[["8d782ee4.3daf1"],[]]},{"id":"bafec0ae.30733","type":"inject","z":"4aedf9e8.044e08","name":"force-run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":156,"wires":[["cd1caa8c.300358"]]},{"id":"97f358c3.fa2c48","type":"api-call-service","z":"4aedf9e8.044e08","name":"arm alarm","server":"8b52884a.b76658","service_domain":"alarm_control_panel","service":"alarm_arm_home","data":"{\"entity_id\":\"alarm_control_panel.alarm_panel\",\"code\":\"2600\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":971,"y":81,"wires":[[]]},{"id":"24e58e6b.442df2","type":"bigtimer","z":"4aedf9e8.044e08","outtopic":"","outpayload1":"1","outpayload2":"","name":"5am every day","comment":"","lat":"33.94519","lon":"-84.45379","starttime":"300","endtime":"315","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":123,"y":277.5,"wires":[["b15d162c.105c28"],[],[]]},{"id":"73c30e71.e8d46","type":"api-current-state","z":"4aedf9e8.044e08","name":"home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":500,"y":269,"wires":[["f36487b8.7e8c48"],[]]},{"id":"d6646d02.af28b","type":"inject","z":"4aedf9e8.044e08","name":"force-run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123,"y":349,"wires":[["b15d162c.105c28"]]},{"id":"3e70cbd7.48e594","type":"api-call-service","z":"4aedf9e8.044e08","name":"disarm alarm","server":"8b52884a.b76658","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.alarm_panel\",\"code\":\"2600\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":977,"y":268,"wires":[[]]},{"id":"8d782ee4.3daf1","type":"api-current-state","z":"4aedf9e8.044e08","name":"alarm disarmed?","server":"8b52884a.b76658","halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","outputs":2,"x":749,"y":82,"wires":[["97f358c3.fa2c48"],[]]},{"id":"f36487b8.7e8c48","type":"api-current-state","z":"4aedf9e8.044e08","name":"alarm armed?","server":"8b52884a.b76658","halt_if":"armed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","outputs":2,"x":743,"y":270,"wires":[["3e70cbd7.48e594"],[]]},{"id":"8d417b5.6e68088","type":"poll-state","z":"bdb29ba8.1840f8","name":"","server":"8b52884a.b76658","updateinterval":"10","outputinitially":true,"outputonchanged":true,"entity_id":"cover.jen_garage_door","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":183,"y":103,"wires":[["5b52ac96.dd9114"]]},{"id":"5b52ac96.dd9114","type":"function","z":"bdb29ba8.1840f8","name":"garage door open for > 30 mins","func":"if (msg.data.timeSinceChangedMs >= 1800000 && msg.payload === \"open\") {\n   return [ msg ];\n}\n","outputs":1,"noerr":0,"x":522,"y":103,"wires":[["9a5d80a0.bb31e"]]},{"id":"c9f3e55.80fbc18","type":"api-call-service","z":"bdb29ba8.1840f8","name":"close jen's garage door","server":"8b52884a.b76658","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.jen_garage_door\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":988,"y":104,"wires":[[]]},{"id":"2f902d29.65f162","type":"mqtt in","z":"ea946133.0085b","name":"Front Camera (frigate)","topic":"frigate/front/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":60,"wires":[["f981233a.919ee"]]},{"id":"dac685a2.2c81f8","type":"mqtt in","z":"ea946133.0085b","name":"Porch Camera (frigate)","topic":"frigate/porch/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":220,"wires":[["d9d5eb14.a24088"]]},{"id":"12525f60.1cb281","type":"mqtt in","z":"ea946133.0085b","name":"Driveway Camera (frigate)","topic":"frigate/driveway/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":150,"y":380,"wires":[["4a3232d5.83a38c"]]},{"id":"6b8b5f2f.4ae78","type":"mqtt in","z":"ea946133.0085b","name":"Pool Camera (frigate)","topic":"frigate/pool/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":540,"wires":[["7f697fd9.9e767"]]},{"id":"5d436f22.73ef","type":"mqtt in","z":"ea946133.0085b","name":"Basement Camera (frigate)","topic":"frigate/basement/objects","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":150,"y":700,"wires":[["6c4e92b2.bf3b7c"]]},{"id":"f981233a.919ee","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":60,"wires":[["118c8baa.e4f2b4"]]},{"id":"d9d5eb14.a24088","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":220,"wires":[["f66a0af1.123158"]]},{"id":"4a3232d5.83a38c","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["2f55ba6.ba56a46"]]},{"id":"7f697fd9.9e767","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":540,"wires":[["becdac9d.28d67"]]},{"id":"6c4e92b2.bf3b7c","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"person\": \"ON\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":700,"wires":[["7365e499.488e4c"]]},{"id":"56afaa65.494d14","type":"pushover api","z":"ea946133.0085b","keys":"1be7789.845ca87","title":"","name":"","x":300,"y":1380,"wires":[]},{"id":"80eddcd0.58a4f","type":"function","z":"ea946133.0085b","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Porch\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/porch/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1120,"wires":[[]]},{"id":"6b704164.2a31b","type":"function","z":"ea946133.0085b","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Driveway\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/driveway/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[[]]},{"id":"74727546.1b67ec","type":"function","z":"ea946133.0085b","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Front\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/front/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1060,"wires":[[]]},{"id":"5aa5e662.1fde68","type":"function","z":"ea946133.0085b","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Pool\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/pool/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1240,"wires":[[]]},{"id":"74bd1c94.30bc34","type":"function","z":"ea946133.0085b","name":"pushover payload (frigate)","func":"msg.topic = \"Person Detected (frigate)\";\nmsg.payload = \"Basement\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"http://k8s-4:5000/basement/best_person.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1300,"wires":[[]]},{"id":"cdcecccd.15beb","type":"function","z":"ea946133.0085b","name":"trigger basement camera (BI)","func":"msg.payload = \"camera=basement&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":760,"wires":[["3f56c50a.db089a"]]},{"id":"3f56c50a.db089a","type":"mqtt out","z":"ea946133.0085b","name":"trigger blue iris","topic":"BlueIris/admin","qos":"","retain":"","broker":"649859a4.a17818","x":1180,"y":840,"wires":[]},{"id":"fecab8f7.aa5b18","type":"function","z":"ea946133.0085b","name":"trigger porch camera (BI)","func":"msg.payload = \"camera=porch&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["3f56c50a.db089a"]]},{"id":"feaab13e.d12ba","type":"function","z":"ea946133.0085b","name":"trigger front camera (BI)","func":"msg.payload = \"camera=front&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["3f56c50a.db089a"]]},{"id":"69e6676b.787a18","type":"function","z":"ea946133.0085b","name":"trigger driveway camera (BI)","func":"msg.payload = \"camera=driveway&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["3f56c50a.db089a"]]},{"id":"d3be975d.234b68","type":"function","z":"ea946133.0085b","name":"trigger pool camera (BI)","func":"msg.payload = \"camera=pool&trigger\";\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":600,"wires":[["3f56c50a.db089a"]]},{"id":"118c8baa.e4f2b4","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_front_notify","state_type":"str","outputs":2,"x":510,"y":60,"wires":[["feaab13e.d12ba","aa7a14fb.bcc2a8"],[]]},{"id":"f66a0af1.123158","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_porch_notify","state_type":"str","outputs":2,"x":510,"y":220,"wires":[["52638bf.b8eb974"],[]]},{"id":"2f55ba6.ba56a46","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_driveway_notify","state_type":"str","outputs":2,"x":510,"y":380,"wires":[["69e6676b.787a18","9abe3eba.7a1c7"],[]]},{"id":"becdac9d.28d67","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_pool_notify","state_type":"str","outputs":2,"x":510,"y":540,"wires":[["28c9cb8c.3c71c4"],[]]},{"id":"7365e499.488e4c","type":"api-current-state","z":"ea946133.0085b","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.camera_basement_notify","state_type":"str","outputs":2,"x":510,"y":700,"wires":[["cdcecccd.15beb","8cfc67b3.80d9d8"],[]]},{"id":"ca516132.aac1d","type":"api-current-state","z":"afb0f186.cfb0d","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_run_basement_fan","state_type":"str","outputs":2,"x":355,"y":93,"wires":[["738ad7f2.c345c8"],[]]},{"id":"9a5d80a0.bb31e","type":"api-current-state","z":"bdb29ba8.1840f8","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_close_garage_door_jen","state_type":"str","outputs":2,"x":756,"y":103,"wires":[["c9f3e55.80fbc18"],[]]},{"id":"d7e5002e.83cb","type":"poll-state","z":"bdb29ba8.1840f8","name":"","server":"8b52884a.b76658","updateinterval":"10","outputinitially":true,"outputonchanged":true,"entity_id":"cover.jeff_garage_door","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":183,"y":257,"wires":[["4d588242.22798c"]]},{"id":"4d588242.22798c","type":"function","z":"bdb29ba8.1840f8","name":"garage door open for > 30 mins","func":"if (msg.data.timeSinceChangedMs >= 1800000 && msg.payload === \"open\") {\n   return [ msg ];\n}\n","outputs":1,"noerr":0,"x":522,"y":257,"wires":[["30fb26c0.21788a"]]},{"id":"a899e4bf.ede808","type":"api-call-service","z":"bdb29ba8.1840f8","name":"close jeff's garage door","server":"8b52884a.b76658","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.jeff_garage_door\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":984,"y":258,"wires":[[]]},{"id":"30fb26c0.21788a","type":"api-current-state","z":"bdb29ba8.1840f8","name":"run?","server":"8b52884a.b76658","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_close_garage_door_jeff","state_type":"str","outputs":2,"x":754,"y":257,"wires":[["a899e4bf.ede808"],[]]},{"id":"cd1caa8c.300358","type":"api-current-state","z":"4aedf9e8.044e08","name":"run?","server":"8b52884a.b76658","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_arm_disarm_alarm_night","state_type":"str","outputs":2,"x":337,"y":86,"wires":[["c77d382a.cb6bf8"],[]]},{"id":"b15d162c.105c28","type":"api-current-state","z":"4aedf9e8.044e08","name":"run?","server":"8b52884a.b76658","halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.auto_arm_disarm_alarm_night","state_type":"str","outputs":2,"x":329,"y":273,"wires":[["73c30e71.e8d46"],[]]},{"id":"d6bed659.ccb878","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":110,"y":1380,"wires":[[],[]]},{"id":"52638bf.b8eb974","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":690,"y":220,"wires":[["fecab8f7.aa5b18","246aae0.b493f52"],[]]},{"id":"28c9cb8c.3c71c4","type":"api-current-state","z":"ea946133.0085b","name":"not home?","server":"8b52884a.b76658","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.anyone_home","state_type":"str","outputs":2,"x":690,"y":540,"wires":[["d3be975d.234b68","6c431925.fa56b8"],[]]},{"id":"8cfc67b3.80d9d8","type":"api-call-service","z":"ea946133.0085b","name":"tf basement camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_basement\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":700,"wires":[["2c3dac8f.e1d3d4"]]},{"id":"2c3dac8f.e1d3d4","type":"api-current-state","z":"ea946133.0085b","name":"tf basement camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_basement","state_type":"num","outputs":2,"x":1160,"y":700,"wires":[["c99d18d2.ef69e8"],[]]},{"id":"c99d18d2.ef69e8","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Basement Camera Motion Alert\",\"title\":\"basement_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/basement_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":700,"wires":[[]]},{"id":"63ac810c.b4e2e","type":"mqtt in","z":"ea946133.0085b","name":"Basement Camera (BI)","topic":"BlueIris/alert/basement","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":1300,"wires":[["1b572f63.b27041"]]},{"id":"1b572f63.b27041","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1300,"wires":[[]]},{"id":"3ae7d684.fda14a","type":"function","z":"ea946133.0085b","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Basement\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/basement_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1300,"wires":[[]]},{"id":"6c431925.fa56b8","type":"api-call-service","z":"ea946133.0085b","name":"tf pool camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_pool\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":540,"wires":[["c2ba26e0.3af468"]]},{"id":"c2ba26e0.3af468","type":"api-current-state","z":"ea946133.0085b","name":"tf pool camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_pool","state_type":"num","outputs":2,"x":1140,"y":540,"wires":[["9b6a1a6b.8b7b98"],[]]},{"id":"9b6a1a6b.8b7b98","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Pool Camera Motion Alert\",\"title\":\"pool_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/pool_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":540,"wires":[[]]},{"id":"4acee826.f321c8","type":"mqtt in","z":"ea946133.0085b","name":"Pool Camera (BI)","topic":"BlueIris/alert/pool","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":120,"y":1240,"wires":[["e9412e71.e228c"]]},{"id":"e9412e71.e228c","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1240,"wires":[[]]},{"id":"8c08145f.82ffc8","type":"function","z":"ea946133.0085b","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Pool\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/pool_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1240,"wires":[[]]},{"id":"9abe3eba.7a1c7","type":"api-call-service","z":"ea946133.0085b","name":"tf driveway camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_driveway\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":380,"wires":[["d3b6aeca.7899d"]]},{"id":"d3b6aeca.7899d","type":"api-current-state","z":"ea946133.0085b","name":"tf driveway camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_driveway","state_type":"num","outputs":2,"x":1160,"y":380,"wires":[["55251439.061cdc"],[]]},{"id":"55251439.061cdc","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Driveway Camera Motion Alert\",\"title\":\"driveway_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/driveway_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":380,"wires":[[]]},{"id":"9861783e.4ca1a8","type":"mqtt in","z":"ea946133.0085b","name":"Driveway Camera (BI)","topic":"BlueIris/alert/driveway","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":140,"y":1180,"wires":[["8fd9a485.ab8258"]]},{"id":"8fd9a485.ab8258","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1180,"wires":[[]]},{"id":"dfd7dd90.fe3dc","type":"function","z":"ea946133.0085b","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Driveway\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/driveway_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1180,"wires":[[]]},{"id":"246aae0.b493f52","type":"api-call-service","z":"ea946133.0085b","name":"tf porch camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_porch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":220,"wires":[["624662b5.fbb90c"]]},{"id":"624662b5.fbb90c","type":"api-current-state","z":"ea946133.0085b","name":"tf porch camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_porch","state_type":"num","outputs":2,"x":1150,"y":220,"wires":[["449b3a49.f2e934"],[]]},{"id":"449b3a49.f2e934","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Porch Camera Motion Alert\",\"title\":\"porch_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/porch_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":220,"wires":[[]]},{"id":"ff1671b3.975df","type":"mqtt in","z":"ea946133.0085b","name":"Porch Camera (BI)","topic":"BlueIris/alert/porch","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":130,"y":1120,"wires":[["d90960c5.2fe42"]]},{"id":"d90960c5.2fe42","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1120,"wires":[[]]},{"id":"9d11f176.80d48","type":"function","z":"ea946133.0085b","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Porch\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/porch_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1120,"wires":[[]]},{"id":"aa7a14fb.bcc2a8","type":"api-call-service","z":"ea946133.0085b","name":"tf front camera","server":"8b52884a.b76658","service_domain":"image_processing","service":"scan","data":"{\"entity_id\":\"image_processing.tensorflow_front\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":60,"wires":[["b550a272.e11ee"]]},{"id":"b550a272.e11ee","type":"api-current-state","z":"ea946133.0085b","name":"tf front camera?","server":"8b52884a.b76658","halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"image_processing.tensorflow_front","state_type":"num","outputs":2,"x":1140,"y":60,"wires":[["4e8cc8a3.fe5658"],[]]},{"id":"4e8cc8a3.fe5658","type":"api-call-service","z":"ea946133.0085b","name":"Notify Slack","server":"8b52884a.b76658","service_domain":"notify","service":"slack","data":"{\"message\":\"Front Camera Motion Alert\",\"title\":\"front_latest.jpg\",\"data\":{\"file\":{\"path\":\"/config/www/tensorflow/snapshot/front_latest.jpg\"}}}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":60,"wires":[[]]},{"id":"41ecc375.1fbbec","type":"mqtt in","z":"ea946133.0085b","name":"Front Camera (BI)","topic":"BlueIris/alert/front","qos":"2","datatype":"auto","broker":"649859a4.a17818","x":120,"y":1060,"wires":[["cd56c08.5deb74"]]},{"id":"cd56c08.5deb74","type":"switch","z":"ea946133.0085b","name":"motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1060,"wires":[[]]},{"id":"f07e6b7a.9f46b8","type":"function","z":"ea946133.0085b","name":"pushover payload (hass)","func":"msg.topic = \"Person Detected\";\nmsg.payload = \"Front\";\nmsg.sound = \"intermission\"\nmsg.priority = 1;\nmsg.image = \"https://hass.eviljungle.com/local/tensorflow/snapshot/front_latest.jpg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1060,"wires":[[]]},{"id":"ba873795.4fa5c8","type":"comment","z":"ea946133.0085b","name":"Old stuff","info":"","x":100,"y":1000,"wires":[]}]